@model IEnumerable<Team32_Project.Models.Book>

@{
    ViewData["Title"] = "View";
}

<h2>Book Search</h2>
<form asp-action="DisplaySearchResults" asp-controller="Search" method="get">
    <div class="form-group">
        <label>Search Book Title:</label>
        <input name="SearchTitle" class="form-control" />
    </div>

    <div class="form-group">
        <label>Search Book Author:</label>
        <input name="SearchAuthor" class="form-control" />
    </div>

    <div class="form-group">
        <label>Search Book Unique Number:</label>
        <input name="DesiredNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Select a Genre:</label>
        @Html.DropDownList("SelectedGenre", (SelectList)ViewBag.AllGenres, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Sort Results By:</label>
        <label class="radio">@Html.RadioButton("SelectedSortOrder", Team32_Project.Controllers.SearchController.SortOrder.Title, true)Title- A to Z</label>
        <label class="radio">@Html.RadioButton("SelectedSortOrder", Team32_Project.Controllers.SearchController.SortOrder.Author)Author- A to Z</label>
        <label class="radio">@Html.RadioButton("SelectedSortOrder", Team32_Project.Controllers.SearchController.SortOrder.MostPopular)Most Popular</label>
        <label class="radio">@Html.RadioButton("SelectedSortOrder", Team32_Project.Controllers.SearchController.SortOrder.NewestBook)Newest to Oldest</label>
        <label class="radio">@Html.RadioButton("SelectedSortOrder", Team32_Project.Controllers.SearchController.SortOrder.OldestBook)Oldest to Newest</label>
        <label class="radio">@Html.RadioButton("SelectedSortOrder", Team32_Project.Controllers.SearchController.SortOrder.HighestRated)Highest Rated</label>
        <label class="radio">@Html.RadioButton("SelectedSortOrder", Team32_Project.Controllers.SearchController.SortOrder.InStock)Books Only In Stock</label>
    </div>

    <button type="submit" class="btn btn-danger">Search</button>
</form>
