@model IEnumerable<Team32_Project.Models.Book>

@{
    ViewData["Title"] = "View";
}

<h2>Book Search</h2>
<a asp-action="DetailedSearch" class="btn btn-success">Book Search</a>
<a asp-action="Index" class="btn btn-danger">Show All</a>

<p>Displaying @ViewBag.SelectedBooks out of @ViewBag.TotalBooks Books</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueID)
            </th>
            <th>
                Number of Books In Stock
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CopiesOnHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BookID">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
