@model Team32_Project.Models.ReorderDetail

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReorderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReorderQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReorderQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReorderDetailID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
