@model IEnumerable<Team32_Project.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Manager"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UniqueID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublicationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Manager"))
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.Inactive)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReorderPoint)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AverageRating)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CopiesOnHand)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastOrdered)
                            </th>
                        }
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UniqueID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Manager"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Inactive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReorderPoint)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AverageRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CopiesOnHand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastOrdered)
                            </td>
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Manager"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                            </td>
                        }
                    }
                    <td>
                        <a asp-action="Details" asp-route-id="@item.BookID">Details</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
