@model IEnumerable<Team32_Project.Models.CreditCard>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Add a Credit Card</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CreditCardID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CreditCardID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CreditCardID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
