@model Team32_Project.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <!--<dt>
            Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd>
            Html.DisplayFor(model => model.Active)
        </dd>-->
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>
        <!--<dt>
            Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd>
            Html.DisplayFor(model => model.Rating)
        </dd>-->
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
